html,body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ff0084, #33001b);
}
*{
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
}
.main-box{
    width: 30rem;
    height: 20rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.644) 0 0 5px 0px;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;

}
.my-input{
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    padding: 20px 10px;
    margin-bottom: 1rem;

}
.submit-button{
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    background-color: #52c752;
    padding: 20px 10px;
    margin-bottom: 1rem;
    color: #fff;

}
.my-input::placeholder{
    color: rgba(144,144,144);
}
.link{
    display: flex;
    width: 100%;
    justify-content: center;
}
.form-text{
    color: rgb(167, 167, 167);
    margin-right: 5px;
}
.form-link{
    color: rgb(66, 179, 90);
    cursor: pointer;
}
